# Supabase
SUPABASE_URL=seu_supabase_url_aqui

# Chave pública (para frontend ou testes simples)
SUPABASE_ANON_KEY=sua_anon_key_aqui

# Chave privada (para backend)
SUPABASE_SERVICE_ROLE_KEY=sua_service_role_key_aqui